<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magic 8 Ball</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="./js/index.js"></script>
</head>

<body>
<h1>Magic 8 Ball</h1>
<div>
    <label for="question"></label><input type="text" id="question" placeholder="Type your question here">
    <button id="askButton">Ask 8 Ball</button>
</div>
</body>

</html>
