/* General styles */
body {
    background: url('../images/background.png') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 8pt;
}

/* Banner styles */
#banner-container {
    background-image: url('../images/bannerbg.png');
    background-repeat: repeat-x;
    text-align: center;
}

#banner-container img {
    overflow: clip;
}

/* Main heading styles */
h1 {
    text-align: center;
    font-size: 24pt;
    font-weight: bold;
    font-family: Tahoma, Verdana, sans-serif;
    text-shadow: 3px 3px 3px #999999;
}

/* Main content area */
#content {
    width: 800px;
    margin: 0 auto;
    border: 4px solid gray;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
}

/* Left section */
#left-section {
    width: 550px;
    background: url('../images/rbg.png') repeat-x;
}

#left-section .rating {
    display: flex;
    align-items: flex-end;
    font-size: 48pt;
    font-weight: bold;
    color: red;
}

#left-section .rating img {
    height: 83px;
}

#left-section .reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.review {
    width: 47%;
    background-color: #E8DC9B;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 20pt;
    box-sizing: border-box;
}

.review img {
    float: left;
    margin-right: 5px;
}

.review q {
    font-weight: bold;
}

.review .critic-info {
    clear: both;
    padding-top: 5px;
}

.review .critic-info img {
    float: left;
    margin-right: 5px;
}

.review .critic-info span {
    font-style: italic;
}

/* General Overview */
#overview {
    width: 250px;
    background-color: #A2B964;
    padding: 10pt;
    box-sizing: border-box;
}

#overview dt {
    font-weight: bold;
    margin-top: 10pt;
}

#overview ul {
    list-style: none;
    padding: 0;
}

/* Reviews count section */
#reviews-count {
    text-align: center;
    background-color: #A2B964;
    padding: 5px;
    margin-top: 20px;
}

/* Validator links */
#validators {
    position: fixed;
    bottom: 0;
    right: 0;
    opacity: 0.5;
}

#validators img {
    display: block;
}
